name: CI (TypeScript)

on:
  pull_request:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'

permissions:
  contents: read
  packages: write

env:
  GHCR_DOCKER_REGISTRY_PATH: ghcr.io/${{ github.repository }}
  # GHCR_IMAGE_TAG: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}

jobs:
  set-env:
    runs-on: ubuntu-latest
    needs: check-lockfile 
    steps:
    - uses: actions/checkout@v4
    
    - id: set-env
      run: |
        VERSION="$(node -p "require('./package.json').version")"
        PR_SHA="${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}"
        IMAGE_TAG="${VERSION}-${SHA}"
        IMAGE_TAG_DEV="${VERSION}-dev-${SHA}"
        DOCKER_IMAGE_NAME="${{ env.GHCR_DOCKER_REGISTRY_PATH }}:$IMAGE_TAG"
        DOCKER_IMAGE_NAME_DEV="${{ env.GHCR_DOCKER_REGISTRY_PATH }}:$IMAGE_TAG_DEV"
        DOCKER_IMAGE_NAME_LATEST="${{ env.GHCR_DOCKER_REGISTRY_PATH }}:latest"

        echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
        echo "PR_SHA=${PR_SHA}" >> $GITHUB_OUTPUT
        echo "DOCKER_IMAGE_NAME=${DOCKER_IMAGE_NAME}" >> $GITHUB_OUTPUT
        echo "DOCKER_IMAGE_NAME_DEV=${DOCKER_IMAGE_NAME_DEV}" >> $GITHUB_OUTPUT
        echo "DOCKER_IMAGE_NAME_LATEST=${DOCKER_IMAGE_NAME_LATEST}" >> $GITHUB_OUTPUT
    outputs:
      VERSION: ${{ steps.set-env.outputs.VERSION }}
      PR_SHA: ${{ steps.set-env.outputs.VERSION }}
      DOCKER_IMAGE_NAME: ${{ steps.set-env.outputs.DOCKER_IMAGE_NAME }}
      DOCKER_IMAGE_NAME_DEV: ${{ steps.set-env.outputs.DOCKER_IMAGE_NAME_DEV }}
      DOCKER_IMAGE_NAME_LATEST: ${{ steps.set-env.outputs.DOCKER_IMAGE_NAME_LATEST }}

  check-lockfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Ensure lockfile exists
        run: test -f package-lock.json

      - name: Install deps (must use lockfile)
        run: npm ci

      - name: Ensure npm ci didn't change lockfile
        run: |
          git diff --exit-code package-lock.json

  lint:
    runs-on: ubuntu-latest
    needs: check-lockfile
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - run: npm ci
      - run: npm run lint

  unit-tests:
    runs-on: ubuntu-latest
    needs: check-lockfile
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - run: npm ci
      - run: npm test

  build-ts:
    runs-on: ubuntu-latest
    needs: [lint, unit-tests]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install deps
        run: npm ci

      - name: Build (dist/)
        run: npm run build

      - name: Package dist artifact
        run: |
          tar -czf dist.tgz package.json package-lock.json dist

      - name: Upload dist artifact
        uses: actions/upload-artifact@v4
        with:
          name: ts-dist
          path: dist.tgz

  build-docker:
    runs-on: ubuntu-latest
    needs: [set-env, build-ts]
    steps:
      - uses: actions/checkout@v4

      - name: Download dist artifact
        uses: actions/download-artifact@v4
        with:
          name: ts-dist

      - name: Unpack dist into workspace
        run: |
          rm -rf dist
          tar -xzf dist.tgz
          ls -lah dist

      - name: Build Docker image (local)
        run: |
          docker build -t ${{ needs.first-job.outputs.DOCKER_IMAGE_NAME }} .
          docker save ${{ needs.first-job.outputs.DOCKER_IMAGE_NAME }} -o image.tar

      - name: Upload docker image artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar

  tests-smoke:
    runs-on: ubuntu-latest
    needs: build-docker
    steps:
      - name: Download docker image artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load image
        run: |
          docker load -i image.tar
          docker images

      - name: Run container
        run: |
          docker run -d --rm --name ts-app -p 8080:8080 ${{ needs.first-job.outputs.DOCKER_IMAGE_NAME }}

          for i in {1..30}; do
            if curl -fsS http://127.0.0.1:8080/ >/dev/null; then
              echo "Server is up"
              exit 0
            fi
            sleep 1
          done

          echo "Server could  not start"
          docker logs ts-app || true
          exit 1

      - name: Result
        run: |
          curl -fsS http://127.0.0.1:8080/ | grep -F "Hi from TypeScript!"

      - name: Cleanup
        if: always()
        run: |
          docker rm -f ts-app

  push-ghcr:
    runs-on: ubuntu-latest
    needs:
      - build-docker
      - tests-smoke
    if: ${{ github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository) }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Download docker image artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load image
        run: docker load -i image.tar

      - name: Compute docker tags
        shell: bash
        run: |
          VERSION="$(node -p "require('./package.json').version")"
          SHA="${{ github.sha }}"
          SHORT_SHA="${SHA:0:7}"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "SHORT_SHA=$SHORT_SHA" >> $GITHUB_ENV

      - name: Tag for dev and latest
        run: |
          docker tag ${{ env.DOCKER_IMAGE_NAME }} ${{ env.DOCKER_IMAGE_NAME_DEV }}
          docker tag ${{ env.DOCKER_IMAGE_NAME }} ${{ env.DOCKER_IMAGE_NAME_LATEST }}

      - name: Tag release version
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: |
          docker tag ${{ env.DOCKER_IMAGE_NAME }} ${{ env.GHCR_DOCKER_REGISTRY_PATH }}:v${{ env.VERSION }}

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Push
        run: |
          docker push ${{ env.GHCR_IMAGE_NAME }}
          docker push ${{ env.GHCR_IMAGE_NAME_LATEST }}
