name: Release on merge

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  set-env:
    uses: astognev-org/devops/.github/workflows/set-env.yml@main
    with:
      GHCR_DOCKER_REGISTRY_PATH: ghcr.io/${{ github.repository }}

  release:
    needs: set-env
    if: ${{ github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'publish') }}
    uses: astognev-org/devops/.github/workflows/release_devops.yml@main
    with:
      PR_MERGE_COMMIT_SHA: "${{ needs.set-env.outputs.PR_MERGE_COMMIT_SHA }}"
      DOCKER_IMAGE_NAME_RELEASE: "${{ needs.set-env.outputs.DOCKER_IMAGE_NAME_RELEASE }}"
      REGISTRY_URL: "${{ vars.REGISTRY_URL }}"
      ORGANIZATION: "${{ vars.ORGANIZATION }}"
    permissions:
      contents: write
      pull-requests: read
      packages: write
    secrets: inherit
