name: Release on merge

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  release:
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'publish')
    uses: astognev-org/devops/.github/workflows/release_devops.yml@main
    with:
      head_sha: ${{ github.event.pull_request.merge_commit_sha || github.event.pull_request.head.sha }}

    permissions:
      contents: write
      pull-requests: read
      packages: write
    secrets: inherit
